@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "LatoLight";
  src: url(../public/Lato/Lato-Light.ttf);
}
  @font-face {
    font-family: "LatoBold";
    src: url(../public/Lato/Lato-Bold.ttf);
  }
@font-face {
  font-family: "LatoReg";
  src: url(../public/Lato/Lato-Regular.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
}