@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "LatoLight";
  src: url(../public/Lato/Lato-Light.ttf);
}
  @font-face {
    font-family: "LatoBold";
    src: url(../public/Lato/Lato-Bold.ttf);
  }
@font-face {
  font-family: "LatoReg";
  src: url(../public/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "Clip";
  src: url("../public/Lato/clip/Clip.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: seashell;
}

ul li a {
  color: #333; /* default color */
}

.title { 
  /* Set neon color */
  --neon-text-color: rgb(199, 27, 185);
}

.title {
  color: #fff;
  padding: 4rem 6rem 5.5rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;     
}

title::-moz-selection {
  color: var(--neon-text-color);
}

title::selection {
  color: var(--neon-text-color);
}

title:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}
